<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,700" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-rtl.css">
    <link rel="stylesheet" type="text/css" href="plugins/menu/webslidemenu-ar.css">
    <link rel="stylesheet" type="text/css" href="css/rtl.css">

    <title>دوري</title>
</head>
<body>

<div class="container-fluid">
    <div id="preloader">
        <div class="classy-load"></div>
    </div>
    <!--End Loader -->

    <!--Start Header -->
    <header>
        <div class="d-flex justify-content-between">
            <!--Start Nav -->
            <!-- Mobile Header -->
            <div class="wsmobileheader clearfix ">
                <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
            </div>
            <!-- Mobile Header -->
            <nav class="wsmenu clearfix">
                <ul class="wsmenu-list">
                    <li aria-haspopup="true">
                        <a href="#" class="active menuhomeicon">
                            <img src="images/home-ico.png" class="align-middle" alt="">                        </a>                    </li>
              <li aria-haspopup="true"><a href="#">About Us <span class="wsarrow"></span></a>
      <div class="sub-menu wsmegamenu clearfix d-flex justify-content-between">
                            <div class="img-wrap">
                                <img src="images/eye-full.png" alt="">                            </div>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.                            </p>
                        </div>
                  </li>
              <li aria-haspopup="true"><a href="#">Services</a>
      <ul class="sub-menu">
                            <li aria-haspopup="true"><a href="#"><i class="fa fa-angle-right"></i>  about us 1</a></li>
                            <li aria-haspopup="true"><a href="#"><i class="fa fa-angle-right"></i>  about us 1</a></li>
                            <li aria-haspopup="true"><a href="#"><i class="fa fa-angle-right"></i>  about us 1</a></li>
                            <li aria-haspopup="true"><a href="#"><i class="fa fa-angle-right"></i>  about us 1</a></li>
                            <li aria-haspopup="true"><a href="#"><i class="fa fa-angle-right"></i>  about us 1</a>                            </li>
                        </ul>
                  </li>
                  <li aria-haspopup="true"><a href="#">Our terms</a></li>
                  <li aria-haspopup="true"><a href="#">Contact Us</a></li>
                  <li aria-haspopup="true"><a href="#">User Profile</a></li>
              </ul>
            </nav>
            <!--End Nav -->

            
                <a href="javascript:void(0)" class="reserve">
                    <strong><img src="images/reserve-ico.png" alt="">Reserve a Date </strong>
                </a>
           
        </div>
    </header>
    <!--End Header -->

    <!--Start Form-->
        <section class="suitable">
            <h2>خدمة الرسائل</h2>
          <div class=" mb-12 col-md-6 col-sm-6 col-12  myl">
          <ul   class="list-unstyled mylist " > 
          <li><img src="images/sms.png" width="44" height="22" > تم ارسال كود التفعيل الى    <strong> 0090*****678  </strong></li>
          <li>سوف تتلقى رسالة نصية بكود التفعيل صالحة لمرة واحدة فقط </li>
         
          <li>رقم الموبايل : 675970986568  <span><a href="#">ارسال مرة أخرى</a></span></li>
          <li>فضلا انتظر 12 ثانية قبل طلب كود تفعيل جديد</li>
         
        </ul>
          </div>
         
  <form>
            <div class="form-row form-row d-flex justify-content-md-start">
             
              <div class="form-group mb-3 col-md-6 col-sm-6 col-12">
               
                    <div class="input-group input remove-icon"> 
                      <div class="input-group-prepend p-3">
                          <div class="input-group-text"><img src="images/code.png" width="26" height="18"></div>
                            <input type="text" class="form-control" placeholder="كود التفعيل">
                      </div>
                    </div>
              </div>

                
<div class=" mb-3 col-md-12 col-sm-6 col-12" >
  <div class=" input-group mb-3 col-md-6 col-sm-6 col-12"><div class="text-right mt-md-2 mt-2 ">
             <button type="button" class="btn btn-danger">ارسال </button>
                <button type="button" class="btn btn-info"><img src="images/x-ico.png" width="28" height="29" class="align-middle ml-1"> الغاء</button>   
          </div></div></div>

                </div>
            
        </form>
        </section>


    <!--Start Form-->
    <section class="ad text-center mb-3">
        <div class="flex-row">
            <div class="col-md-12">
                <a href="javascript:void(0)">
                    <img src="images/ad.png" alt="">
                </a>
            </div>
        </div>

    </section>

    <!--End Form -->

    <!--start Footer-->
    <footer class="d-flex flex-lg-row flex-column justify-content-md-between justify-content-center align-items-start">
        <div class="logo mb-3 order-lg-1 order-2">
            <img src="images/vision2030.png" alt="">
        </div>

        <div class="middle-footer order-2 text-center">
            <div class="line-wrap">
                <ul class="list-inline d-flex">
                <li class="list-inline-item">
                    <span class="align-bottom">Pay</span>
                    <img src="images/pay-ico.png" alt="">
                </li>
                <li class="list-inline-item">
                    <span class="align-bottom">Choose Time</span>
                    <img src="images/pay-ico.png" alt="">
                </li>
                <li class="list-inline-item">
                    <span class="align-bottom">Be On time</span>
                    <img src="images/pay-ico.png" alt="">
                </li>
            </ul>
            </div>
            <ul class="list-inline mb-4">
                <li class="list-inline-item">
                    <img src="images/visa.png" alt="">
                </li>
                <li class="list-inline-item">
                    <img src="images/mastercard.png" alt="">
                </li>
                <li class="list-inline-item">
                    <img src="images/maestro.png" alt="">
                </li>
                <li class="list-inline-item">
                    <img src="images/JCB-57.png" alt="">
                </li>
                <li class="list-inline-item">
                    <img src="images/JCB.png" alt="">
                </li>
            </ul>
            <footer class="copyright">
                <div class="text-center">
                    <p class="m-0">Copyright © 2018. Dory. All rights reserved </p>
                </div>
            </footer>
        </div>

        <button class="btn btn-secondary  order-lg-3 order-first" type="submit">
            <img src="images/x-ico.png" alt="" class="align-middle mr-1"> Cancel Appointment
        </button>
    </footer>
    <!--End Footer-->
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="plugins/menu/webslidemenu.js"></script>
<script src="js/custom.js"></script>

</body>
</html>